.navbar{
    background-color: #ecdfd2;
    padding: 0 26px;
    .nav-link{
        color: #000000;
        font-weight: 400;
    }
    .nav-link{
        color: #000000;
        font-weight: 400;
    }
    .nav-item a:hover{
        color: #d20404;
        text-decoration: overline;
    }
    .logo{
        width: 60px;
        cursor: pointer;
    }

}