.contenedor-titulo{
    display: flex;
    justify-content: center;
    .titulo-principal{ 
        text-decoration: overline;
        text-transform: uppercase;
        padding: 20px;
        margin-top: 10px;
        color: #520de6;
        text-align: center;
        
    }
    
    }