
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Red+Hat+Display:wght@500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: rgba(251, 251, 251, 0.885);
}


/************* menu navegacion ***********************/
.menu__navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color:#1f84cd;
    position: sticky;
    top:0;
}
.menu_lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    flex-direction:row;
    cursor: pointer;
}
.item_menu_link{
    text-decoration: none;
    text-transform: uppercase;
    color:#ebe6e6;
    margin-right: 10px;
    cursor: pointer;
}
.menu_lista a:hover{
    color:#fdb204;
}

.active a{
    text-decoration:underline;
}


.logo{
    width: 60px;
    cursor: pointer;
    

}
/********************** header **********************/

 .carousel-item img{
    width: 100%;
    height: 400px;
 }

/********* main *********/


   /************** pagina principal***********/

.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 20px;
    gap:20px;
    grid-template-areas:
     "paw  lego spidey "
     " mattel mattel mattel" 
     " hasbro hasbro hasbro" ;
}
.banner_producto{
    text-align: center;
    box-shadow: 0 2px 7px #08046b;
    
}
.mattel{
    grid-area: mattel;
}
.hasbro{
    grid-area: hasbro;
}
.banner_producto img{
    width: 100%;
    height: 300px;
}
.carta_producto{
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 7px #08046b;
    
}
.paw{
    grid-area: paw;
}
.lego{
    grid-area: lego;
}
.spidey{
    grid-area: spidey;
}
.carta_producto img{
    width: 100%;
    height: 250px;
    object-fit: cover;
   
}


/************ footer ***********/
footer{
    margin-top: 100px;
    background-color:#003049;
    padding: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
   
}
.lista_footer{
    display: flex;
    
  
}
.lista_footer li{
    list-style: none;
    
}
.lista_footer li a{
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
.lista_footer li a .icon{
    position: relative;
    color:#262626;
    transition: .5s;
    z-index: 3;
}
.lista_footer li a:hover .icon{
    color: #fffefe;
}
    
.lista_footer li a:before {
    content: "";
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 2;
    
}
.lista_footer li a:hover:before{
    top:0;
}
.lista_footer li:nth-child(1) a:before{
    background: #dd2a7b;
    
}
.lista_footer li:nth-child(2) a:before{
    background: #3b5999;
}
.lista_footer li:nth-child(3) a:before{
    background: #25d366;
}
.lista_footer li:nth-child(4) a:before{
    background: #040404;
}
.site_footer hr{
    border-top-color: #bbb;
    opacity: 0.5;
}
.site_footer hr.small{
    margin: 20px 0;
}
.site_footer h6{
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site_footer a{
    color: #737373;
    text-decoration: none;
}
.site_footer a:hover{
    color: #3366cc;
    text-decoration: none;
}
.footer_links{
    padding-left: 0;
    list-style: none;
}
.footer_links li{
    display: block;
}
.footer_links a{
    color:#737373;
}
.footer_links a:active, .footer-links a:focus, .footer-links a:hover{
    color:#3366cc;
    text-decoration: none;
}
.footer_links .inline li{
    display: inline-block;
}





@media screen and (max-width: 780px)
{
.menu__navegacion ul{
overflow: hidden;

flex-direction: column;


    
}
.menu__navegacion li{
    padding: 5px;
}
.menu__navegacion li:first-child{
    margin-top: 50px;
}
.menu__navegacion li a{
    font-size: 1rem;
}
.productos{
   display: grid;
   grid-template-columns: 100%;
   grid-template-areas: 
   "paw"
   "spidey"
   "hasbro"
   "mattel"
   "lego";
}
}

  
  

    
